NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_MAP_OPERATIONAL_STYLE_URL=https://tiles.openfreemap.org/styles/bright
NEXT_PUBLIC_MAP_TERRAIN_STYLE_URL=https://demotiles.maplibre.org/style.json
